<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p>
      Email:  
    </p>
    <%= f.input :email, label: false, :required => true, :autofocus => true %>
    <p>
      Password: 
    </p>
    <%= f.input :password, label: false, :required => true %>
    <p>
      Password Confirmation: 
    </p>
    <%= f.input :password_confirmation, label: false, :required => true %>

  </div>

  <div>
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
