%h1 Items

%table.table.table-bordered.table-hover.table-striped.table-condensed
  %tr
    %th Image
    %th Name
    %th Stats
    %th Special
    %th Cost
    %th
    %th

  - @items.each do |item|
    %tr
      %td= image_tag item.image
      %td= item.name
      %td= (item.stats.map { |k, v| "+#{v} #{k.to_s.gsub('_', ' ')}" }).join(', ')
      %td= item.passive.first
      %td= item.cost
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }


%br
- if current_user.admin
  = link_to 'New Item', new_item_path
  = link_to 'Retrieve items', retrieve_items_path