%p#notice= notice

.champion-profile.text-center
  .champion-name.text-center
    %h1= @champion.name
    %p= image_tag @champion.image, style: "width: 100px; height: 100px"
    .champion-build-items
      %table
        %tr
          %td
            .item-set.empty#1
          %td
            .item-set.empty#2
          %td
            .item-set.empty#3
        %tr
          %td
            .item-set.empty#4
          %td
            .item-set.empty#5
          %td
            .item-set.empty#6

  .champion-stats
    %table.table.table-bordered.table-hover.table-striped.table-condensed
      %tbody
        %tr
          %td 
            %b Health
          %td.data 
            %span.stat.health{ data: { health: @champion.health_base + @champion.health_per_lvl } }= "#{@champion.health_base + @champion.health_per_lvl} "
          
          %td 
            %b Attack
          %td.data
            %span.stat.attack-damage{ data: { attack: @champion.attack_base + @champion.attack_per_lvl } }= "#{@champion.attack_base + @champion.attack_per_lvl}"

          %td 
            %b Movement speed
          %td.data
            %span.stat.movement-speed= @champion.movement_speed

        %tr
          %td 
            %b Health per lvl
          %td.data
            %span.stat.health-per-lvl= @champion.health_per_lvl 
                
          %td 
            %b Attack per lvl
          %td.data
            %span.stat.attack-per-lvl= @champion.attack_per_lvl 

          %td 
            %b Range
          %td.data
            %span.stat.range= @champion.range
        
        %tr
          %td 
            %b Health regen.
          %td.data        
            %span.stat.health-reg= @champion.health_regen_base

          %td 
            %b Attack speed
          %td.data
            %span.stat.attack-speed{ data: { "attack-speed" => @champion.attack_speed_base } }= "#{@champion.attack_speed_base }"
         
          %td 
            %b Crit. chance(%)
          %td.data
            %span.critical-chance 0.00
    
        %tr
          %td 
            %b Health regen. per lvl
          %td.data
            %span.stat.health-reg-lvl= @champion.health_regen_per_lvl
          %td 
            %b Att. speed per lvl(%)
          %td.data
            %span.stat.attack-speed-per-lvl= @champion.attack_speed_per_lvl
          %td 
            %b Spell vamp(%)
          %td.data 
            %span.spell-vamp 0.00

        %tr
          %td 
            %b Mana
          %td.data
            %span.stat.mana{ data: { mana: @champion.mana_base + @champion.mana_per_lvl } }= "#{@champion.mana_base + @champion.mana_per_lvl}"
          
          %td
            %b Armor
          %td.data
            %span.stat.armor{ data: { armor: @champion.armor_base + @champion.armor_per_lvl } }= "#{@champion.armor_base + @champion.armor_per_lvl}"
          %td 
            %b Life steal(%)
          %td.data 
            %span.life-steal 0.00
        %tr
          %td 
            %b Mana per lvl
          %td.data
            %span.stat.mana-per-lvl= @champion.mana_per_lvl
          %td 
            %b Armor per lvl
          %td.data
            %span.stat.armor-per-lvl= @champion.armor_per_lvl 
          %td 
            %b Ability power
          %td.data
            %span.stat.ability-power 0.00

        %tr
          %td 
            %b Mana regen.
          %td.data
            %span.stat.mana-regen= @champion.mana_regen_base
          %td 
            %b Magic resist
          %td.data
            %span.stat.magic-resist{ data: { 'magic-resist' => @champion.magic_resist_base + @champion.magic_resist_per_level} }= "#{@champion.magic_resist_base + @champion.magic_resist_per_level}"

        %tr
          %td 
            %b Mana regen. per lvl
          %td.data
            %span.stat.mana-regen-per-lvl= @champion.mana_regen_per_lvl
          %td 
            %b Magic resist per lvl
          %td.data
            %span.stat.magic-resist-per-lvl= @champion.magic_resist_per_level
    .level-form.stats(style="margin-top:20px")
      %p
        %b Level 
        %span.level 1
        = simple_form_for(@champion, url: recalculate_stats_champion_path(@champion), method: 'post') do |f|
          = f.input_field :level, as: :text, class: 'level-slider', data: { 'slider' => true, 'slider-range' => '1,18', 'slider-step' => 1, 'slider-values' => '1,2,3,4,5,6,7,8,8,10,11,12,13,14,15,16,17,18', 'slider-equal-steps' => true, "slider-snap" => true }



.items.text-center
  = render 'items/items'

= link_to 'Edit', edit_champion_path(@champion) |
= link_to 'Back', champions_path 
= link_to 'Delete', @champion, method: :delete, data: { confirm: 'Are you sure?' } 
