%p#notice= notice

.champion-profile.text-center
  %h1= @champion.name
  .champion-image.text-center
    %p= image_tag @champion.image, style: "width: 120px; height: 120px"
    .champion-build-items
      %table
        %tr
          %td
            .item-set.empty#1
          %td
            .item-set.empty#2
          %td
            .item-set.empty#3
        %tr
          %td
            .item-set.empty#4
          %td
            .item-set.empty#5
          %td
            .item-set.empty#6
      %br
      %p
        %b Build Cost:
        %span.build-cost 0 

  .champion-stats
    %table.table.table-bordered.table-hover.table-striped.table-condensed
      %tbody
        %tr
          %td 
            %b Health
          %td.data 
            %span.stat.health{ data: { health: @champion.health_base + @champion.health_per_lvl } }= "#{@champion.health_base + @champion.health_per_lvl} "
            %span.extra#health{ data: { extra_acumulation:  0 } } (+0)
          
          %td 
            %b Attack
          %td.data
            %span.stat.attack-damage{ data: { "attack-damage" => @champion.attack_base + @champion.attack_per_lvl } }= "#{@champion.attack_base + @champion.attack_per_lvl}"
            %span.extra#attack-damage{ data: { extra_acumulation:  0 } } (+0)
            
          %td 
            %b Movement speed
          %td.data
            %span.stat.movement-speed{ data: { "movement-speed" => @champion.movement_speed } }= @champion.movement_speed

        %tr
          %td 
            %b Health+/lvl
          %td.data
            %span.stat.health-per-lvl= @champion.health_per_lvl 
                
          %td 
            %b Attack+/lvl
          %td.data
            %span.stat.attack-per-lvl= @champion.attack_per_lvl 

          %td 
            %b Range
          %td.data
            %span.stat.range= @champion.range
        
        %tr
          %td 
            %b Health+(5s)
          %td.data        
            %span.stat.health-regeneration{ data: { "health-regeneration" => @champion.health_regen_base } }= @champion.health_regen_base
            %span.extra#health-regeneration{ data: { extra_acumulation:  0 } } (+0)
            
          %td 
            %b Attack speed
          %td.data
            %span.stat.attack-speed{ data: { "attack-speed" => @champion.attack_speed_base } }= "#{@champion.attack_speed_base }"         
            %span.extra#attack-speed{ data: { extra_acumulation: 0 } } (+0)
            
          %td 
            %b Crit. chance(%)
          %td.data
            %span.critical-strike-chance{ data: { "critical-strike-vamp" => 0.00 } } 0.00
            %span.extra#critical-strike-chance{ data: { extra_acumulation:  0 } } (+0)
    
        %tr
          %td 
            %b Health+(5s)/lvl
          %td.data
            %span.stat.health-reg-lvl= @champion.health_regen_per_lvl
          %td 
            %b Att.speed/lvl(%)
          %td.data
            %span.stat.attack-speed-per-lvl= @champion.attack_speed_per_lvl
          %td 
            %b Spell vamp(%)
          %td.data 
            %span.stat.spell-vamp{ data: { "spell-vamp" => 0.00 } } 0.00
            %span.extra#spell-vamp{ data: { extra_acumulation:  0 } } (+0)

        %tr
          %td 
            %b Mana
          %td.data
            %span.stat.mana{ data: { mana: @champion.mana_base + @champion.mana_per_lvl } }= "#{@champion.mana_base + @champion.mana_per_lvl}"         
            %span.extra#mana{ data: { extra_acumulation: 0 } } (+0)
            
          
          %td
            %b Armor
          %td.data
            %span.stat.armor{ data: { armor: @champion.armor_base + @champion.armor_per_lvl } }= "#{@champion.armor_base + @champion.armor_per_lvl}"
            %span.extra#armor{ data: { extra_acumulation:  0 } } (+0)
            
          %td 
            %b Life steal(%)
          %td.data 
            %span.stat.life-steal{ data: { "life-steal" => 0.00 } } 0.00
            %span.extra#life-steal{ data: { extra_acumulation:  0 } } (+0)

        %tr
          %td 
            %b Mana+/lvl
          %td.data
            %span.stat.mana-per-lvl= @champion.mana_per_lvl
          %td 
            %b Armor+/lvl
          %td.data
            %span.stat.armor-per-lvl= @champion.armor_per_lvl 
          %td 
            %b Ability power
          %td.data
            %span.stat.ability-power{ data: { extra_acumulation: 0.00 } } 0.00
            %span.extra#ability-power{ data: { extra_acumulation:  0 } } (+0)


        %tr
          %td 
            %b Mana+(5s)
          %td.data
            %span.stat.mana-regeneration{ data: { "mana-regeneration" => @champion.mana_regen_base } }= @champion.mana_regen_base         
            %span.extra#mana-regeneration{ data: { extra_acumulation: 0 } } (+0)
            
          %td 
            %b Magic resist
          %td.data
            %span.stat.magic-resistance{ data: { 'magic-resistance' => @champion.magic_resist_base + @champion.magic_resist_per_level} }= "#{@champion.magic_resist_base + @champion.magic_resist_per_level}"  
            %span.extra#magic-resistance{ data: { extra_acumulation:  0 } } (+0)
          %td 
            %b CD reduction
          %td.data
            %span.stat.cooldown-reduction{ data: { 'cooldown-reduction' => 0 } }= 0
            %span.extra#cooldown-reduction{ data: { extra_acumulation:  0 } } (+0)
            

        %tr
          %td 
            %b Mana+(5s)/lvl
          %td.data
            %span.stat.mana-regen-per-lvl= @champion.mana_regen_per_lvl
          %td 
            %b Magic resist./lvl
          %td.data
            %span.stat.magic-resist-per-lvl= @champion.magic_resist_per_level
    .level-form.stats(style="margin-top:20px")
      %p
        %b Level 
        %span.level 1
        = simple_form_for(@champion, method: 'post') do |f|
          = f.input_field :level, as: :text, class: 'level-slider', data: { 'slider' => true, 'slider-range' => '1,18', 'slider-step' => 1, 'slider-values' => '1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18', 'slider-equal-steps' => true, "slider-snap" => true }



.items.text-center
  = render 'items/items'

= link_to 'Edit', edit_champion_path(@champion) |
= link_to 'Back', champions_path 
= link_to 'Delete', @champion, method: :delete, data: { confirm: 'Are you sure?' } 
