<p id="notice"><%= notice %></p>
<p>
  <%= image_tag @champion.image %>
</p>

<p>
  <b>Name:</b>
  <%= @champion.name %>
</p>

<p>
  <b>Lane:</b>
  <%= @champion.lane %>
</p>


<%= link_to 'Edit', edit_champion_path(@champion) %> |
<%= link_to 'Back', champions_path %>
